body {
    color: #8f8f8f;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

.navbar-brand {
    color: #387ADF;
}

.navbar-brand:hover {
    color: #50C4ED;
}

.intro {
    background-color: #fff;
}

.intro-p {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 40%;
}

.intro-img {
    border-radius: 100%;
    width: 35%;
}